@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-scroll {
  display: inline-flex;
  animation: scroll 40s linear infinite;
  backface-visibility: hidden;
  will-change: transform;
}

/* Create a wrapper that's exactly double the width */
.scroll-wrapper {
  display: inline-flex;
  width: max-content;
}

/* Container to hide overflow and maintain width */
.scroll-container {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.flag-spin {
  transition: transform 0.3s;
}

.flag-spin:hover {
  animation: spin 1s linear;
}
